@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Cormorant+Garamond:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b7d2fa;
    --secondary-color: #f2f9ffe8;
    --tertiary-color: #707e89e8;
    --background-color: #18020a;
    --text-color: linear-gradient(135deg,
            #b7d2fa 0%,
            #7a869a 15%,
            #686a6c 20%,
            #eaf2ff 35%,
            #ffffff 50%,
            #686a6c 55%,
            #b7c4d8 80%,
            #b7d2fa 100%);

}

.gradient-text {
    background: var(--text-color);
    background-clip: text;
    color: transparent;
}

.body {
    background-color: var(--background-color);
    font-family: 'Forum';
    font-weight: bolder;
    font-size: 1.7vw;
    padding: 3vw;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.gradient-text.title {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 6vw;
}

.header-content p {
    font-size: 4vw;
    text-align: center;
}

.logo-container img {
    height: 20vw;
    filter: hue-rotate(190deg);
}

.nav {
    margin: 5vw 0;
    border-radius: 2rem;
    padding: 1vw;
    background: var(--text-color);
}

.nav ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.nav ul li a {
    display: inline-block;
    color: var(--background-color);
    text-decoration: none;
    transition: ease-in-out .2s;
}

.nav ul li a:hover {
    transform: scale(1.2);
}

.main p {
    text-align: justify;
}

.highlights {
    width: 100%;
    margin-top: 5vw;
}

.highlights p {
    text-align: center;
    margin-bottom: 3vw;
    font-size: 4vw;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.image{
    border-radius: 50%;
}

.slide {
    width: 40vw;
    height: auto;
    display: none;
    object-fit: cover;
    border: .7vw solid transparent;
    border-image: var(--text-color) 1;
    cursor: pointer;
    clip-path: inset(0 round 10px);
}

.slide.active {
    display: block;
}

.carousel-btn {
    position: relative;
    width: 5.5vw;
    height: 5.5vw;

    border: none;
    border-radius: 50%;
    font-size: 3.5vw;
    cursor: pointer;
    background: var(--text-color);
    color: var(--background-color);
    z-index: 0;
}

.carousel-btn:hover {
    background: var(--text-color);
    background-clip: text;
    color: transparent;
}

.carousel-btn:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: .2vw;

    background: var(--text-color);
    border-radius: 50%;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

@media (max-width:768px){
    .body{
        font-size: 4vw;
    }
    
    .slide{
        width: 70vw;
        border: 1.6vw solid transparent;
        border-image: var(--text-color) 1;
    }
}

